.main {
  margin-top: 30px;
  padding: 20px;

  h2 {
    display: inline;
    margin-right: 10px;
  }
}

.paggination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.group {
  display: flex; 
  flex-direction: column; 
  margin-bottom: 10px;

  .title {
    font-weight: bold; 
    font-size: 15px;
  }
}