.main {
  min-height: 100vh;
  margin-top: 30px;
  padding: 20px;

  h2 {
    display: inline;
    margin-right: 10px;
  }
}

.paggination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}